{% extends 'main.html' %}
{% block content %}


<h1>{{genre.type}}</h1>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-3">
        {% for movie in movies %}
        <h2>{{movie.title}}</h2>
        <h4>{{movie.year}}</h4>
        <img src="{{movie.poster}}">
        <p>{{movie.plot}}</p>
        <a href='{{url_for('editMovie', movie_id=movie.id, genre_type=genre.type)}}'>Edit</a>
        <a href='{{url_for('deleteMovie', movie_id=movie.id, genre_type=genre.type)}}'>Delete</a>
        {% endfor %}
        {% endblock %}





    </div>
</div>